.lucid-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
}


/* 16x9 Aspect Ratio */

.lucid-wrapper {
  padding-bottom: 56.25%;
  margin-bottom:1.5em;
}


/* 4x3 Aspect Ratio */

.lucid-wrapper-4x3 {
  padding-bottom: 75%;
}

.lucid-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
