.spotlights {
  border-top: 0 !important;
  color: white;
  & + * {
    border-top: 0 !important;
  }
  > section {
    display: flex;
    flex-direction: row;
    a.image {
      border-radius: 0;
      display: block;
      width: 100%;
      background-size:cover;
      background-position:center center;
      min-height:100%;
    }
    &:before {
      background: transparentize(_palette(bg), 0.1);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    &:nth-child(2n) {
      flex-direction: row-reverse;
      background-color: $gray;
    }
  }
  @include breakpoint(xlarge) {
    > section {
      > .image {
        width: 40%;
      }
    }
  }
  @include breakpoint(large) {
    > section {
      > .image {
        width: 45%;
      }
    }
  }
  @include breakpoint(medium) {
    > section {
      display: block;
      > .image {
        width: 100%;
      }
    }
  }
  @include breakpoint(small) {
    > section {
    }
  }
}
