.documentation-wrapper {
  display: inline-block;
  position: relative;
  margin-top: 0px;
  padding: 0px;
  top: 0px;
  width: 100vw;
}

aside.documentation {
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: $documentation-aside-width;
  max-width: $documentation-aside-width;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  background-color: $documentation-aside-bg-color;
  transform: translateX(-$documentation-aside-width);
  z-index: 2;
  overflow-y: scroll;
  padding-bottom: 90px;
  &.documentation-toc-open {
    @include card(4);
    transition: transform .3s ease-in-out;
    transform: translateX(0px);
    + #main-documentation {
      transform: translateX($documentation-aside-width);
      opacity: .5;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 30px;
      background-color: $documentation-aside-button-bg-color;
    }
  }
  @include MQ(L) {
    transform: translateX(0px);
    border-right-width: 1px;
    border-right-color: #ccc;
    border-right-style: solid;
    padding-top: 1em;
    &.documentation-toc-open {
      transform: translateX(0px);
      box-shadow: none;
      + #main-documentation {
        transform: translateX(0px);
        opacity: 1;
      }
    }
    h4.title {
      transition: opacity .3s ease-in-out;
      opacity: 0;
      margin-top: 0px;
    }
    &.fixed-aside > #documentation-toc > h4.title {
      transition: opacity .3s ease-in-out;
      opacity: 1;
    }
  }
  &.fixed-aside {
    position: fixed;
    top: 50px;
    left: 0px;
  }
  &.fixed-aside + #toggle-documentation-toc {
    position: fixed;
    top: 50px;
    left: 0px;
  }
}

.documentation-header {
  margin-top: .5em;
}

#documentation-toc {
  margin-top: 1em;
  padding-right: 16px;
  margin-right: -16px;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 3em;
  ul {
    list-style: none;
    margin-top: .75em;
    li {
      margin-left: 0px;
      list-style: none;
      line-height: 1.2;
      margin-bottom: 1em;
      font-size: .8em;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    font-weight: 600;
    // &.toc-link {
    //   font-weight:$base-font-weight;
    // }
  }
}

#toggle-documentation-toc.documentation-toc-open + .contents-bar {
  transition: transform .3s ease-in-out;
  transform: translateX(0px);
}

#toggle-documentation-toc {
  transition: width .2s ease-in-out;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  width: 134px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: $base-font-color;
  background-color: $documentation-aside-button-bg-color;
  z-index: 3;
  font-size: 1em;
  // @include card(2);
  padding: {
    left: 10px;
    right: .25em;
    top: .1em;
  }
  i.icon-contents {
    font-size: 1.2em;
  }
  span {
    display: inline;
    font-weight: bold;
    &:before {
      content: 'CONTENTS';
      margin-right: .5em;
    }
    &:after {
      font-family: 'fontello', $base-font-family;
      display: inline;
      content: "\e864\e864\e864";
    }
  }
  &.documentation-toc-open {
    box-shadow:none;
    span {
      &:before {
        content: '';
      }
      &:after {
        display: inline;
        content: "CLOSE";
      }
    }
    &:before {
      font-family: 'fontello';
      content: '\e821\00a0';
      padding-left: 6px;
      color: $base-font-color;
      display: inline;
    }
  }
  svg {
    height: 1.6em;
    width: 1.6em;
    padding-top: .15em;
  }
  @include MQ(L) {
    display: none;
  }
}

//specific to /docs
.output {
  @include card(2);
  padding: 1.25em 1em .5em 1em;
  margin-bottom: 1em;
  position: relative;
  font-family: $base-font-family;
  &:after {
    content: '\f13b\00a0 Output';
    z-index: 99;
    color: #595959;
    font-family: 'fontello', $base-font-family;
    height: 1.5em;
    line-height: 1.5em;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: $light-gray;
    padding: .15em .3em;
    font-size: .7em;
  }
  blockquote {
    max-width: 100%;
    margin-left: 0%;
  }
  input {
    border: 1px solid $light-gray;
    margin-left: .5em;
    font-size: .9em;
    width: $documentation-aside-width;
  }
  textarea {
    font-size: 1em;
    @include placeholder {
      font-size: 1em;
      color: $base-font-color;
    }
  }
}
