.audio-player {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 324px;
  display: block;
  flex-direction: column;
  border: 1px solid $cap-gray-light;
  border-radius: 2px;
  margin-bottom: 1em;
  @include card(2);
  .audio-info {
    display: flex;
  }
  .audio-thumbnail {
    width: 100px;
    height: 100px;
    max-height: 100px;
  }
  .audio-meta {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: calc(100% - 100px);
    padding-left: .5em;
    .audio-title {
      font-size: 1.3em;
      line-height: 1;
    }
    .audio-artist {
      font-size: .7em;
      margin-top: 0em;
      font-weight: $base-font-bold-weight;
      color: lighten($base-font-color, 30%);
    }
    .itunes-link {
      box-shadow: none;
      border-bottom: none;
      background-color: transparent;
      position:absolute;
      bottom:.25em;
      right:.5em;
      &:hover {
        box-shadow: none;
        border-bottom: none;
        background-color: transparent;
        color:$base-font-color;
      }
      &:before,
      &:after {
        box-shadow: none;
        border-bottom: none;
        background-color: transparent;
      }
    }
  }
  audio.audio-file {
    width: 100%;
    background-color: $brand-primary;
  }
}
