input[type="submit"],
input[type="reset"],
input[type="button"],
a[role="button"],
button,
.button {
  outline: none;
  appearance: none;
  transition: all .3s ease-in-out;
  background-color: $button-bg-color;
  border: $button-border-width solid $button-border-color;
  border-radius: $button-border-radius;
  color: $button-text-color;
  cursor: pointer;
  display: block;
  position: relative;
  right: 0px;
  width: auto;
  max-width: 200px;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  height: $button-font-size * 2;
  line-height: $button-font-size * 1.7;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: $button-text-transform;
  margin-top: 1.5em;
  padding: {
    right: .75em;
    left: .75em;
  }
  &.darkbg {
    border-color: $white;
    color: $white;
  }
  &.lightbg {
    border-color: $base-font-color;
    background-color: $base-font-color;
    color: $white;
    &:hover {
      background-color: $brand-primary;
      color: $white;
    }
  }
  &:hover,
  &:active {
    color: $button-hover-text-color;
    border-color: $button-hover-text-color;
    &.darkbg {
      background-color: $white;
      color: $base-font-color;
    }
  }
  &.main-menu {
    width: 100%;
    display: block;
    background-color: $brand-primary;
    color: $white;
    max-width: 100%;
    font-weight: bold;
    border: none;
    outline: none;
    padding-top: .25em;
    margin-top: 1em;
    &:hover {
      background-color: $accent;
    }
  }
  &.darkbg {
    border-color: $white;
    color: $white;
    small {
      color: $white;
      text-transform: lowercase;
      font-size: 25%;
      a {
        color: $white;
        text-decoration: underline;
        text-transform: lowercase;
      }
    }
    &:hover {
      color: $base-font-color;
      border-color: $white;
    }
  }
}
