ol,
ul,
dl {
  margin-left: 0px;
  padding-left: 0px;
}

ul {
  margin-bottom: 1em;
  >li {
    margin-left: 1em;
    list-style: disc;
    >ul {
      margin-bottom: 0px;
      margin-top: .666em;
      >li {
        list-style: circle;
        >ul {
          margin-bottom: 0px;
          >li {
            list-style: square;
          }
        }
      }
    }
  }
}

ol {
  > li {
    margin-left: 1em;
    list-style-type: decimal;
    > ul {
      margin-top:.666em;
    }
  }
}

li a {
  display: inline;
}

ol > li > ul,
ol > li > ul {
  margin-bottom: 0em;
}

ul.recent-posts {
  list-style: disc outside none;
  background-color: transparent;
  li {
    background-color: transparent;
    line-height: 1.1;
    margin-bottom: .25em;
    a.recent-post {
      background-color: transparent;
      color: $white;
      &.darkbg {
        color: $white;
        h4 {
          color: $white;
        }
      }
    }
  }
}

ul.hero-tags {
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  &:before {
    content: '\e80c';
    font-family: 'fontello';
    display: inline-block;
    color: white;
  }
  display:flex;
  flex-direction:row;
  @include MQ(M) {
    margin-top: -1em;
  }
  li {
    list-style: none;
    margin-left: .25em;
    a {
      color: $white;
      border-color: $white;
    }
  }
  &.hero-tags-single-page {
    margin-top:1em;
    &:before {
      color:$base-font-color;
    }
    li a {
      color:$base-font-color;
      border-color:$base-font-color;
    }
  }
}

a.tag {
  padding: .25em .5em;
  border-width: 1px;
  border-radius: $button-border-radius;
  border-style: solid;
  font-size: .8em;
}

ul.docs-taxonomy-list {
  display: inline;
  li {
    display: inline-block;
    background-color: $cap-gray-dark;
    padding: .2em .5em;
    color: $white;
    margin-bottom: .5em;
    font-size: .8em;
    margin-left: 0px;
    margin-right: .75em;
    min-width: 140px;
    max-width: 220px;
  }
}

.body-copy {
  ul li {
    margin-bottom: .666em;
  }
  ol li {
    margin-bottom: .666em;
  }
}
