time {
  &.publish-date {
    font-size: 1em;
    top: 0px;
    left: 0px;
    z-index: 1;
    display:inline-block;
    &.list-date {
    	background-color: black;
    	font-size:.9em;
    	background-color: $brand-primary;
    	color:$white;
    	position:absolute;
    	top:0px;
    	left:0px;
    }
  }
}
