@media print {
  @page {
    size: A4;
  }
  *,
  *:after,
  *:before {
    color: $cap-black!important;
  }
  .no-print {
    height: 0px!important;
    width: 0px!important;
    visibility: hidden!important;
    display: none!important;
  }
  #site-header {
    width: 0px;
    height: 0px;
    position: relative;
    display: none!important;
  }
  a#toggle-toc-single-article {
    visibility: hidden;
    display: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
  }
  table,
  figure {
    page-break-inside: avoid;
  }
  main {
    // background-image: url(/assets/images/icons/cap-logo-light-opacity.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px!important;
    width: 100%!important;
    display: block!important;
    #toc-single-article {
      visibility: hidden;
      display: none!important;
    }
  }
  #hero {
    background-image: none!important;
    background-color: transparent!important;
    color: $cap-black!important;
    display: inline-block;
    width: 100%;
    margin-top: 0px;
    min-height: 180px!important;
    height: 400px!important;
    max-height: 400px!important;
    margin-bottom: 0px;
    &.blog-post {
      min-height: 180px!important;
      height: 400px!important;
      max-height: 400px!important;
    }
    &:before {
      display: none!important;
      opacity: 0;
      color: transparent;
      width: 0px;
      height: 0px;
    }
    i.icon-down,
    i.icon-down:before {
      visibility: hidden;
      display: none;
    }
    .hero-header {
      display: block;
      position: relative;
      h1.title.title-hero {
        margin-top: 80px!important;
        padding-top: 30px;
        display: block;
        clear: both!important;
        width: 100%;
        border-bottom-width: 0px;
      }
    }
  }
  .hero-callout,
  .hero-author {
    display: block;
    clear: both!important;
    min-height: 60px!important;
  }
  .body-copy#blog {
    min-width: 90%!important;
    min-width: 90vw!important;
    a:after,
    p > a:after {
      display: inline;
      position: relative;
      content: " (" attr(href) ") ";
      font-size: 0.9em;
      font-weight: normal;
      color: $cap-black;
      text-decoration: underline;
      box-shadow: none;
      white-space: normal;
      border-width: 0px;
      border-color: transparent;
    }
    .footnotes > ol > li > img {
      display: none!important;
    }
  }
  aside.documentation,
  aside.toc,
  aside.documentation.smooth-links,
  nav#documentation-toc {
    position: relative;
    width: 0px!important;
    height: 0px!important;
    display: none!important;
    transform: translateX(-250px)
  }
  nav.site-navigation {
    visibility: hidden;
    display: none!important;
  }
  .footnotes {
    float: footnote;
    page-break-inside: avoid;
    iframe {
      visibility: hidden;
      display: none;
    }
    iframe[src*="google.com/maps"] {
      visibility: hidden;
      display: none!important;
    }
    .iframe-wrapper {
      display: none!important;
    }
  }
  #site-footer {
    page-break-inside: avoid;
    color:$base-font-color!important;
    background-color:$body-bg-color!important;
    width:100%!important;
  }
  #google-form-wrapper {
    display: none!important;
    width: 0px!important;
    height: 0px!important;
    visibility: hidden!important;
  }
  #open-google-form {
    display: none!important;
    width: 0px!important;
    height: 0px!important;
    visibility: hidden!important;
  }
  iframe[src^="https://docs.google.com"] {
    visibility:hidden!important;
    @include size(0px);
    display:none!important;
  }
}
