<div class="icon-block">
  <i class="icon-accessibility" data-tooltip="icon-tooltip"></i>
  <i class="icon-analytics" data-tooltip="icon-tooltip"></i>
  <i class="icon-apple" data-tooltip="icon-tooltip"></i>
  <i class="icon-atom" data-tooltip="icon-tooltip"></i>
  <i class="icon-attach" data-tooltip="icon-tooltip"></i>
  <i class="icon-audio" data-tooltip="icon-tooltip"></i>
  <i class="icon-bell" data-tooltip="icon-tooltip"></i>
  <i class="icon-blog" data-tooltip="icon-tooltip"></i>
  <i class="icon-brackets" data-tooltip="icon-tooltip"></i>
  <i class="icon-browser" data-tooltip="icon-tooltip"></i>
  <i class="icon-calendar" data-tooltip="icon-tooltip"></i>
  <i class="icon-callouts" data-tooltip="icon-tooltip"></i>
  <i class="icon-cap-logo" data-tooltip="icon-tooltip"></i>
  <i class="icon-caution" data-tooltip="icon-tooltip"></i>
  <i class="icon-check" data-tooltip="icon-tooltip"></i>
  <i class="icon-chrome" data-tooltip="icon-tooltip"></i>
  <i class="icon-clipboard" data-tooltip="icon-tooltip"></i>
  <i class="icon-clock" data-tooltip="icon-tooltip"></i>
  <i class="icon-close" data-tooltip="icon-tooltip"></i>
  <i class="icon-code" data-tooltip="icon-tooltip"></i>
  <i class="icon-cog" data-tooltip="icon-tooltip"></i>
  <i class="icon-cogs" data-tooltip="icon-tooltip"></i>
  <i class="icon-comment" data-tooltip="icon-tooltip"></i>
  <i class="icon-content-model" data-tooltip="icon-tooltip"></i>
  <i class="icon-content-owners" data-tooltip="icon-tooltip"></i>
  <i class="icon-content-requests" data-tooltip="icon-tooltip"></i>
  <i class="icon-content-types" data-tooltip="icon-tooltip"></i>
  <i class="icon-contents" data-tooltip="icon-tooltip"></i>
  <i class="icon-craft" data-tooltip="icon-tooltip"></i>
  <i class="icon-create-page" data-tooltip="icon-tooltip"></i>
  <i class="icon-css" data-tooltip="icon-tooltip"></i>
  <i class="icon-data" data-tooltip="icon-tooltip"></i>
  <i class="icon-data-visualization" data-tooltip="icon-tooltip"></i>
  <i class="icon-database" data-tooltip="icon-tooltip"></i>
  <i class="icon-desktop" data-tooltip="icon-tooltip"></i>
  <i class="icon-digital-writers-guide" data-tooltip="icon-tooltip"></i>
  <i class="icon-docs" data-tooltip="icon-tooltip"></i>
  <i class="icon-down-double" data-tooltip="icon-tooltip"></i>
  <i class="icon-down" data-tooltip="icon-tooltip"></i>
  <i class="icon-download" data-tooltip="icon-tooltip"></i>
  <i class="icon-dreamweaver" data-tooltip="icon-tooltip"></i>
  <i class="icon-dropbox" data-tooltip="icon-tooltip"></i>
  <i class="icon-edge" data-tooltip="icon-tooltip"></i>
  <i class="icon-editorial-mission" data-tooltip="icon-tooltip"></i>
  <i class="icon-edit" data-tooltip="icon-tooltip"></i>
  <i class="icon-ellipsis" data-tooltip="icon-tooltip"></i>
  <i class="icon-email" data-tooltip="icon-tooltip"></i>
  <i class="icon-eraser" data-tooltip="icon-tooltip"></i>
  <i class="icon-excel" data-tooltip="icon-tooltip"></i>
  <i class="icon-facebook" data-tooltip="icon-tooltip"></i>
  <i class="icon-firefox" data-tooltip="icon-tooltip"></i>
  <i class="icon-flag" data-tooltip="icon-tooltip"></i>
  <i class="icon-folder" data-tooltip="icon-tooltip"></i>
  <i class="icon-front-matter" data-tooltip="icon-tooltip"></i>
  <i class="icon-git" data-tooltip="icon-tooltip"></i>
  <i class="icon-github" data-tooltip="icon-tooltip"></i>
  <i class="icon-google-drive" data-tooltip="icon-tooltip"></i>
  <i class="icon-google-plus" data-tooltip="icon-tooltip"></i>
  <i class="icon-google" data-tooltip="icon-tooltip"></i>
  <i class="icon-happy" data-tooltip="icon-tooltip"></i>
  <i class="icon-headings" data-tooltip="icon-tooltip"></i>
  <i class="icon-headphones" data-tooltip="icon-tooltip"></i>
  <i class="icon-heard" data-tooltip="icon-tooltip"></i>
  <i class="icon-help" data-tooltip="icon-tooltip"></i>
  <i class="icon-home" data-tooltip="icon-tooltip"></i>
  <i class="icon-html" data-tooltip="icon-tooltip"></i>
  <i class="icon-icons" data-tooltip="icon-tooltip"></i>
  <i class="icon-ie" data-tooltip="icon-tooltip"></i>
  <i class="icon-image" data-tooltip="icon-tooltip"></i>
  <i class="icon-info" data-tooltip="icon-tooltip"></i>
  <i class="icon-inform" data-tooltip="icon-tooltip"></i>
  <i class="icon-javascript" data-tooltip="icon-tooltip"></i>
  <i class="icon-kebab" data-tooltip="icon-tooltip"></i>
  <i class="icon-keyboard" data-tooltip="icon-tooltip"></i>
  <i class="icon-laptop" data-tooltip="icon-tooltip"></i>
  <i class="icon-left" data-tooltip="icon-tooltip"></i>
  <i class="icon-link" data-tooltip="icon-tooltip"></i>
  <i class="icon-location" data-tooltip="icon-tooltip"></i>
  <i class="icon-lock" data-tooltip="icon-tooltip"></i>
  <i class="icon-lucidchart" data-tooltip="icon-tooltip"></i>
  <i class="icon-markdown" data-tooltip="icon-tooltip"></i>
  <i class="icon-medium" data-tooltip="icon-tooltip"></i>
  <i class="icon-menu" data-tooltip="icon-tooltip"></i>
  <i class="icon-metadata" data-tooltip="icon-tooltip"></i>
  <i class="icon-microphone" data-tooltip="icon-tooltip"></i>
  <i class="icon-microscrope" data-tooltip="icon-tooltip"></i>
  <i class="icon-mouse" data-tooltip="icon-tooltip"></i>
  <i class="icon-movie" data-tooltip="icon-tooltip"></i>
  <i class="icon-next" data-tooltip="icon-tooltip"></i>
  <i class="icon-notes" data-tooltip="icon-tooltip"></i>
  <i class="icon-notifications" data-tooltip="icon-tooltip"></i>
  <i class="icon-opera" data-tooltip="icon-tooltip"></i>
  <i class="icon-pause" data-tooltip="icon-tooltip"></i>
  <i class="icon-pdf" data-tooltip="icon-tooltip"></i>
  <i class="icon-peace" data-tooltip="icon-tooltip"></i>
  <i class="icon-phone" data-tooltip="icon-tooltip"></i>
  <i class="icon-pin" data-tooltip="icon-tooltip"></i>
  <i class="icon-play-button" data-tooltip="icon-tooltip"></i>
  <i class="icon-play" data-tooltip="icon-tooltip"></i>
  <i class="icon-plus" data-tooltip="icon-tooltip"></i>
  <i class="icon-poop" data-tooltip="icon-tooltip"></i>
  <i class="icon-powerpoint" data-tooltip="icon-tooltip"></i>
  <i class="icon-previous" data-tooltip="icon-tooltip"></i>
  <i class="icon-print" data-tooltip="icon-tooltip"></i>
  <i class="icon-process" data-tooltip="icon-tooltip"></i>
  <i class="icon-prose" data-tooltip="icon-tooltip"></i>
  <i class="icon-publishing-schedule" data-tooltip="icon-tooltip"></i>
  <i class="icon-question" data-tooltip="icon-tooltip"></i>
  <i class="icon-quiz" data-tooltip="icon-tooltip"></i>
  <i class="icon-quote-left" data-tooltip="icon-tooltip"></i>
  <i class="icon-quote-right" data-tooltip="icon-tooltip"></i>
  <i class="icon-right" data-tooltip="icon-tooltip"></i>
  <i class="icon-rss" data-tooltip="icon-tooltip"></i>
  <i class="icon-sad" data-tooltip="icon-tooltip"></i>
  <i class="icon-safari" data-tooltip="icon-tooltip"></i>
  <i class="icon-scheduling" data-tooltip="icon-tooltip"></i>
  <i class="icon-scroll" data-tooltip="icon-tooltip"></i>
  <i class="icon-search" data-tooltip="icon-tooltip"></i>
  <i class="icon-share" data-tooltip="icon-tooltip"></i>
  <i class="icon-shortcode" data-tooltip="icon-tooltip"></i>
  <i class="icon-site-updates" data-tooltip="icon-tooltip"></i>
  <i class="icon-skype" data-tooltip="icon-tooltip"></i>
  <i class="icon-slack" data-tooltip="icon-tooltip"></i>
  <i class="icon-smartphone" data-tooltip="icon-tooltip"></i>
  <i class="icon-song" data-tooltip="icon-tooltip"></i>
  <i class="icon-sort" data-tooltip="icon-tooltip"></i>
  <i class="icon-soundcloud" data-tooltip="icon-tooltip"></i>
  <i class="icon-source-control" data-tooltip="icon-tooltip"></i>
  <i class="icon-star" data-tooltip="icon-tooltip"></i>
  <i class="icon-stop" data-tooltip="icon-tooltip"></i>
  <i class="icon-sublime-text" data-tooltip="icon-tooltip"></i>
  <i class="icon-submit-content" data-tooltip="icon-tooltip"></i>
  <i class="icon-table-of-contents" data-tooltip="icon-tooltip"></i>
  <i class="icon-tablet" data-tooltip="icon-tooltip"></i>
  <i class="icon-tag" data-tooltip="icon-tooltip"></i>
  <i class="icon-tags" data-tooltip="icon-tooltip"></i>
  <i class="icon-tangents" data-tooltip="icon-tooltip"></i>
  <i class="icon-taxonomies" data-tooltip="icon-tooltip"></i>
  <i class="icon-teamwork" data-tooltip="icon-tooltip"></i>
  <i class="icon-thumbs-down" data-tooltip="icon-tooltip"></i>
  <i class="icon-thumbs-up" data-tooltip="icon-tooltip"></i>
  <i class="icon-trash" data-tooltip="icon-tooltip"></i>
  <i class="icon-twitter" data-tooltip="icon-tooltip"></i>
  <i class="icon-typewriter" data-tooltip="icon-tooltip"></i>
  <i class="icon-up-double" data-tooltip="icon-tooltip"></i>
  <i class="icon-up" data-tooltip="icon-tooltip"></i>
  <i class="icon-video" data-tooltip="icon-tooltip"></i>
  <i class="icon-warn" data-tooltip="icon-tooltip"></i>
  <i class="icon-windows" data-tooltip="icon-tooltip"></i>
  <i class="icon-word" data-tooltip="icon-tooltip"></i>
  <i class="icon-wordpress" data-tooltip="icon-tooltip"></i>
  <i class="icon-wrike" data-tooltip="icon-tooltip"></i>
  <i class="icon-content-strategy:before" data-tooltip="icon-tooltip"></i>
  <i class="icon-strategy" data-tooltip="icon-tooltip"></i>
</div>
