<div id="listjs-block">
        {{ $url := .Get "url" }}
        {{ $tabletitle := .Get "title" }}
        {{ $sep := "," }}
    <noscript><div class="no-listjs-without-js">Please enbable JavaScript in your browser for full sorting functionality.</div></noscript>
    <div class="list-search-input">
        <a href="#" class="clear-input"><i class="icon-close"></i></a>
        <input type="text" class="search listjs" placeholder="Search {{$tabletitle}}..." /><i class="icon-search" aria-hidden="true"></i>
    </div>
    <div class="table-wrapper">
    <table class="sortable-list-table" id="{{$tabletitle |urlize }}">
        {{- range $i, $r := getCSV $sep $url -}}
            {{if lt $i "1"}}
            <thead>
                <tr>
                {{- range $ind, $name := $r -}}
                    <th class="sort sort-header {{$name | urlize}}" data-sort="col{{add $ind 1}}">{{- $name -}}&nbsp;
                    <i class="fa fa-sort" aria-hidden="true"></i></th>
                {{- end -}}
                </tr>
            </thead>
            <tbody class="list">
            {{ else }}
            <tr>
                {{range $ind, $name := $r }}
                <td class="col{{add $ind 1}}">{{ $name }}</td>
                {{end}}
            </tr>
            {{end}}
            {{- end -}}
            </tbody>
    </table>
    </div>
</div>