main#main-fourohfour {
  position: relative;
  margin-top: -2em;
  min-height: 100vh;
  padding-top: 0px;
  background: #000 url(/assets/images/star-wars-bg.jpg);
  background-size: cover;
}

header.header-fourohfour {
  @include center;
  margin-top:50px;
  max-width:$content-max-width;
  color:$white;
  h1 {
    padding-top:40px;
    color:$white;
  }
  div {
    a {
      color:white;
    }
  }
}