{{ define "main" }}
	{{- partial "components/hero-homepage.html" . -}}
	<main id="main-homepage">
		<div class="homepage-row">
			<div class="row-inner">
				<h1 class="row-title">{{.Site.Title}}</h1>
				<div class="homepage-tiles">
					{{range $section, $title := .Site.Sections}}
					{{if and (ne $section "singles") (ne $section "theme-docs")}}
					<section class="tile {{$section}}-tile">
						<a href="/{{$section}}">
							<header>
						  	<i class="icon-{{$section}}"></i>
						  	<h2>{{replace $section "-" " " | title}}</h2>
						  </header>
					  </a>
					</section>
					{{end}}
					{{end}}
					</div>
			</div>
		</div>
		<div class="homepage-row">
			<div class="row-inner">
			<h1 class="row-title"><a href="/team"><span>{{.Site.Params.homepage.teamrowtitle}}</span></a></h1>
			<div class="homepage-team-list">
				{{range where .Site.Pages "Section" "team"}}
				<div class="homepage-team-list-member">
				{{$nameString := split .Title " "}}
					<a href="/team/#{{.Title | urlize}}">
						<img src="/assets/images/team/{{.Title | urlize }}.jpg" alt="">
						<div>{{index $nameString 0}}</div>
					</a>
				</div>
				{{end}}
			</div>
			</div>
		</div>
	</main>
{{ end }}