
//MEDIA QUERY VALUES
$S:480px;
$SM: 560px;
$M:760px;
$L:960px;
$XL:1200px;
$HUGE:1600px;

//COLOR PALETTE

//Primary Colors
// $cap-blue: rgb(0, 154, 191); //#009bbf
$blue: #01589B;
$cap-gray: rgb(195, 198, 200); //#c3c7ca
$cap-gray-dark: #5b6770;
$cap-gray-light: #DCDCDC;
$cap-red: rgb(178, 30, 40); //#b41f28
$cap-black: rgb(0, 0, 0); //#000000

//Secondary Colors
$orange: rgb(233, 79, 61); //#de8d28
$green: rgb(69, 161, 66); //#44a448
$cap-purple: rgb(89, 44, 130); //#592c82
$dark-gray: $cap-gray-dark;

//Semantic Colors
$brand-primary:$blue;
$brand-secondary:$cap-purple;
$white: #ffffff;
$black: $cap-black;
$light-gray: #cccccc;
$accent: $cap-red;

//Callouts & Tangents
$note: lighten($blue,15%);
$warn: $cap-red;
$tangent:$dark-gray;

//Section Colors
$site-updates-section-color:$brand-primary;
$blog-section-color:$brand-primary;
$content-owners-section-color: $brand-primary;
$process-section-color:$brand-primary;
$content-requests-section-color: $brand-primary;
$digital-writers-guide-section-color: $brand-primary;
$digital-team-section-color: $brand-primary;
$notification-background-color:$cap-red;

//Additional Brand Colors
$craft: #DA5A47;
$javascript: #f7df1e;
$word: #2A3281;
$excel: #007133;
$powerpoint: #DB5A26;
$adobe: #FF0000;
$javascript: #F0DB4F;
$sass:#C6538C;
$css:#1572B6;
$html:#E44D26;

//Body
$body-bg-color:$white;

//Search
$search-input-placeholder-text-color:$white;
$search-input-text-color:$white;
$site-search-width-mobile:200px;
$site-search-width-desktop:250px;
$search-results-bg-color:darken($body-bg-color, 3%);

// Font.
$font-path: "/assets/css/fonts";
$base-font-family:"roboto";
$heading-font-family:"robotoslab", $helvetica;
$subheading-font-family:"roboto";
$title-font-family:$heading-font-family;
$base-font-color:#333333;
$base-font-weight:300;
$heading-font-base-weight:300;
$title-font-weight:300;
$base-font-bold-weight: 700;
$systemfonts: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbols";
$footer-font-color:$white;
$footer-bg-color:$cap-black;
$header-height-mobile:60px;



//Selected Text
$selected-text-default-color:$white;
$selected-text-default-bg-color:$brand-primary;
$base-line-height:1.5;
$base-font-size: 18px;

//FontAwesome - to include font awesome; this also requires a "true" setting in config.toml
$use-font-awesome: true;

// Anchors
$base-anchor-color: $base-font-color;
$banner-list-page-font-color:$white;
$base-anchor-font-weight: inherit;
$link-color:$base-anchor-color;
$link-underline-color:$brand-primary;

//Logo/Home Button
$site-logo-color: $white;

//Site Header and Main Menu
$header-height-mobile:50px;
$header-bg-color:$cap-black;
$header-link-color:$white;
$site-menu-items: 4;
$site-menu-link-font-size:18px;
$site-menu-bg-color-open:$cap-black;

//Homepage
$homepage-tile-min-height: 20em;
$homepage-title-font-color: $white;
$homepage-title-text-color: $base-font-color;
$homepage-title-bg-color:$white;

//Hero & Body Copy Content
$hero-header-max-width:$XL;
$hero-font-color:$white;
$content-max-width:32em;
$documentation-content-max-width: $content-max-width * 1.3;
$content-max-width-list-pages:$XL;
$base-hero-bg-color:black;

//Tables
$table-border-color:rgba(231, 233, 237, 0.4);
$table-head-bg-color:rgba(231, 233, 237, 0.6);
;
$table-head-text-color:$base-font-color;

//Transitions
$base-transition-time: .3s;
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

//Buttons
$button-text-color: $base-font-color;
$button-hover-text-color:$brand-primary;
$button-border-width: 2px;
$button-border-radius: 0px;
$button-border-color: $button-text-color;
$button-font-size:16px;
$button-bg-color: transparent;
$button-font-weight: 300;
$button-text-transform: uppercase;
$blog-post-toc-button-size: 40px;

//CODEBLOCKS
$code-font-family: 'courierprime',
courier,
monospace;
$code-tooltip-bg-color: $brand-primary;
$code-block-base-font-color: white;
$code-block-background-color: $base-font-color;
$code-editor-header-bg-color: $cap-gray-light;

//AUDIO PLAYER
$audio-player-bg-color:$base-font-color;

//Z Index
$site-header-z-index: 30;
$site-navigation-z-index: 20;
$site-navigation-open-z-index: 35;

//Page Layout
$documentation-aside-button-bg-color: darken($body-bg-color, 6%);
$documentation-aside-bg-color: $cap-gray-dark;
$documentation-aside-width: 280px;
$previous-and-next-links-max-width:1000px;//bottom block for blog posts
