{{- define "body-class" -}}class="removed-header"{{- end -}}
{{define "main" }}
<!-- Remove the site header with the above "removed-header" so that it doesn't take up real estate in full-screen mode for th editor. -->
<main id="main-editor" class="alt">
  <article class="markdown-editor">
      <header class="editor-header">
        <div class="editor-header-content">
        <a href="/theme-docs" class="back-to-docs">&larr; Back to the theme docs</a>
        <h1 class="title">{{.Title | markdownify}}</h1>
        <p class="description"><strong class="warn">NOTE: </strong> Content saves to local storage as you type, so content will remain in this editor on refresh or if you navigate away from the page. However, <strong><em>clearing your cache or pressing "Get Blank Page" will remove your work.</em></strong></p>
        </div>
      </header>
      <!-- This partial uses the simplemde in-browser markdown editor: https://github.com/NextStepWebs/simplemde-markdown-editor -->
      {{partial "components/simplemde-markdown-editor.html" . }}
  </article>
</main>
{{end}}
{{define "addscripts"}}
<script src="/assets/js/vendor/rome.min.js"></script>
<script src="/assets/js/vendor/simplemde.min.js"></script>
<script src="/assets/js/vendor/filesaver.js"></script>
<!-- <script src="/assets/js/vendor/highlight.min.js"></script> -->
<script src="/assets/js/editor.js" async></script>
{{end}}