<div class="github-directories">
    <a href="#" target="_blank" class="github-button" title="GitHub Access Requires a Login"><i class="icon-folder" aria-hidden="true"></i> Blog</a>
    <a href="#" target="_blank" class="github-button" title="GitHub Access Requires a Login"><i class="icon-team" aria-hidden="true"></i> Team</a>
    <a href="#" target="_blank" class="github-button" title="GitHub Access Requires a Login"><i class="icon-image" aria-hidden="true"></i> Images</a>
    <a href="#" target="_blank" class="github-button" title="GitHub Access Requires a Login"><i class="icon-image" aria-hidden="true"></i> Video Thumbnails</a>
    <a href="#" target="_blank" class="github-button" title="GitHub Access Requires a Login"><i class="icon-notes"></i> Audio</a>
</div>
